<span class="p-float-label mt-3">
  <p-password inputId="label">
    <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
        <li>Uma letra minuscula</li>
        <li>Uma letra maiuscula</li>
        <li>Um numero</li>
        <li>Minimo 8 caracteres</li>
      </ul>
    </ng-template>
  </p-password>
  <label for="label">
    {{ label }}
    <!-- <label class="p-error" *ngIf="isRequired()"> *</label> -->
  </label>
</span>
<!--
<div class="invalid-feedback">
  <small class="p-error block" *ngIf="formControl.dirty">
    {{ getErrorMessage() }}
  </small>
</div> -->
