<div
  class="surface-0 flex align-items-center justify-content-center min-h-95 min-w-95 overflow-hidden"
>
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
    <div class="col-12">
      <div class="card" [formGroup]="pessoaFormGroup">
        <h3>Cadastro de pessoa</h3>
        <hr />
        <div class="grid p-fluid mt-3">
          <div class="sm:col-6 col-12">
            <app-input
              type="text"
              label="E-mail"
              controlName="email"
            ></app-input>
          </div>
          <div class="sm:col-6 col-12">
            <app-input-password
              type="password"
              label="Senha"
              controlName="senha"
            ></app-input-password>
          </div>

          <div class="sm:col-6 col-12">
            <app-input type="text" label="Nome" controlName="nome"></app-input>
          </div>

          <div class="sm:col-6 col-12">
            <app-input
              type="text"
              label="Sobrenome"
              controlName="sobrenome"
            ></app-input>
          </div>

          <div class="sm:col-6 col-12">
            <app-input
              type="text"
              mask="999.999.999-99"
              label="CPF"
              controlName="cpf"
            ></app-input>
          </div>
          <div class="sm:col-6 col-12">
            <app-input
              type="text"
              label="Telefone"
              controlName="telefone"
              mask="(99) 99999-9999"
            ></app-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
